@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  /* --foreground: #d09595; */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    /* --background: #983333; */
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  background-color: #343434 !important;
}

main {
  align-items: center;
}

.score-panel {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  background: #0a0a0a;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 0 10px !important;
}

.result-panel {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  background: #0a0a0a;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 0 10px !important;
}

.time-panel {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  background: #0a0a0a;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 0 10px !important;
}

h1 {
  font-size: 30px;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #343434 !important;
  padding: 20px;
  border-radius: 10px !important;
}

.data-label {
  font-size: 18px;
  margin-bottom: 10px;
  display: flex;
}

.score-button {
  border-radius: 10px;
  padding: 120px 180px;
  background: #0037ff;
  cursor: pointer;
  &:hover {
    background-color: #0037ff9d;
  }
}

.retry-button {
  &:hover {
    text-decoration: underline;
    cursor: pointer;
    color: green !important;
  }
}
